---
const { img, citat, dato, læsmere, stars, name, description} = Astro.props
---



<div class="bg-orange-200">
<div class="flex flex-col items-center max-w-[284px] lg:max-w-[370px] mx-auto">
    <!-- First Section -->
    <div class="flex flex-col items-center justify-center bg-orange-300 p-xs w-full">
        <img src={img} alt="Elev" class="h-20 w-20 mb-xs rounded-full">
        <h4 class="text-center font-body font-bold text-medium">{citat}</h4>
        <img src={stars} alt="hjem" class="h-6 mt-xs">
    </div>

    <!-- Second Section -->
    <div class="flex flex-col bg-orange-50 p-xs w-full min-h-48">
        <p class="pb-xs"><span class="font-bold">{name}</span> {description}</p>
        <div class="flex justify-between items-end mt-auto">
            <p>{dato}</p>
            <a href={læsmere} class="text-orange-500 font-bold">Læs mere</a>
        </div>
    </div>
</div>
</div>